<html>
  <head>
    <style>
      @media print {
        body {
          margin: 0;
          box-shadow: 0;
        }
      }

      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Feuerwehr: Test</h1>

    <table id="">
      <tbody>
        <tr>
          <td colspan="3" width="151">
            <p>Pr&uuml;fkarteiblatt:</p>
          </td>
          <td colspan="9" width="652">&nbsp;</td>
          <td colspan="2" width="104">
            <h1>Blatt Nr.:</h1>
          </td>
          <td width="76">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" width="85">
            <p>Hersteller:</p>
          </td>
          <td colspan="2" width="282">&nbsp;</td>
          <td colspan="2" width="134">
            <p>Lagerungsort:</p>
          </td>
          <td colspan="3" width="214">&nbsp;</td>
          <td width="70">
            <p>Lfd. Nr.:</p>
          </td>
          <td colspan="5" width="198">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" width="85">
            <p>Lieferant:</p>
          </td>
          <td colspan="2" width="282">&nbsp;</td>
          <td colspan="2" width="134">
            <p>Herstellungsjahr:</p>
          </td>
          <td colspan="3" width="214">&nbsp;</td>
          <td width="70">
            <p>Inv. Nr.:</p>
          </td>
          <td colspan="5" width="198">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="9" width="714">
            <p>Pr&uuml;fverfahren:</p>
          </td>
          <td width="70">&nbsp;</td>
          <td colspan="5" width="198">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="4" width="367">&nbsp;</td>
          <td width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td colspan="2" width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td colspan="2" width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td colspan="2" width="87">
            <p>Pr&uuml;fung</p>
          </td>
          <td colspan="2" width="95">
            <p>Pr&uuml;fung</p>
          </td>
        </tr>
        <tr>
          <td colspan="4" width="367">
            <p><strong>Pr&uuml;fdatum:</strong></p>
          </td>
        </tr>
        <tr>
          <td colspan="15" width="983">
            <p><strong>Pr&uuml;fkriterien lt. Bedienungsanleitung</strong></p>
          </td>
        </tr>
        <tr>
          <td colspan="4" width="367">
            <p><strong>Befund</strong>:</p>
          </td>
        </tr>
        <tr>
          <td colspan="4" width="367">
            <p>Name Ger&auml;tepr&uuml;fer:</p>
          </td>
        </tr>
        <tr>
          <td colspan="4" width="367">
            <p>Unterschrift Ger&auml;tepr&uuml;fer:</p>
          </td>
        </tr>
        <tr>
          <td colspan="4" width="367">
            <p>Unterschrift Feuerwehrkommandant:</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="footer">Test</div>
  </body>
</html>
